<template>
    <b-button class="button-edit" @click="onEdit">EDIT</b-button>
</template>

<script>
export default {
    methods: {
        onEdit () {
            this.$emit('onEdit')
        }
    }
}
</script>
