<template>
    <b-button class="button-delete" variant="danger" @click.prevent="onDelete">DELETE</b-button>
</template>

<script>
export default {
    methods: {
        onDelete () {
            this.$emit('onDelete')
        }
    }
}
</script>
