<template>
    <div class="comments">
        <b-list-group
            class="comments__display"
            v-for="comment in comments"
            :key="comment.id"
        >
            <b-list-group-item class="comments__comment comment">
                <h1 class="comment__title">{{ commentName(comment.name) }}</h1>

                <p class="comment__text">{{ commentText(comment.body) }}</p>

                <div class="comment__actions button" v-if="editAvailable(comment.email)">
                    <edit-button
                        class="button__edit"
                        @onEdit="onEdit(comment)"
                    />

                    <delete-button
                        class="button__delete"
                        @onDelete="onDelete(comment.id)"
                    />
                </div>
            </b-list-group-item>
        </b-list-group>

        <div class="comments__submission submission" v-if="isAuthenticated">
            <h2 class="submission__title">Add your comment</h2>

            <comment-form
                class="submission__form"
                :key="edit"
                :article="comment"
                @onSubmit="onSubmit"
            />
        </div>
    </div>
</template>

<script>
import CommentForm from './forms/ArticleForm'
import DeleteButton from './buttons/ButtonDelete'
import EditButton from './buttons/ButtonEdit'
import { mapState } from 'vuex'

export default {
    components: {
        commentForm: CommentForm,
        deleteButton: DeleteButton,
        editButton: EditButton
    },

    props: {
        postId: {
            required: true,
            type: Number
        }
    },

    data () {
        return {
            comment: {},
            edit: false
        }
    },

    computed: {
        ...mapState ('comments', ['comments']),
        ...mapState ('users', ['user', 'isAuthenticated'])
    },

    methods: {
        commentName (name) {
            return name.toUpperCase()
        },

        commentText (text) {
            return text.charAt(1).toUpperCase() + text.slice(1)
        },

        async onSubmit (newComment) {
            let comment = {
                name: newComment.title,
                body: newComment.body,
                email: newComment.email ? newComment.email : this.user.email,
                postId: newComment.postId ? newComment.postId : this.postId,
                id: newComment.id ? newComment.id : null
            }

            if (!comment.id) {
                let createdComment = await this.$commentRepository.create(comment)
    
                console.log(createdComment)
            } else {
                let editedComment = await this.$commentRepository.update(comment)
                
                console.log(editedComment)
            }
        },

        onEdit (comment) {
            this.comment = { ...comment, title: comment.name }

            this.edit = true
        },

        async onDelete (id) {
            let response = await this.$commentRepository.delete(id)

            console.log(response)
        },

        editAvailable (email) {
            return this.isAuthenticated && this.user.email === email
        }
    }
}
</script>

<style scoped>
.comments__comment {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.comment__title {
    font-size: 12px;
}

.comments__submission {
    margin-top: 20px;
    text-align: center;
}

.submission__title {
    font-size: 25px;
}
</style>
