<template>
    <div class="pagination">
        <b-button-group class="pagination__buttons">
            <client-only>
                <b-button class="pagination__begining" v-if="ifNotFirst" v-html="'<<'" @click="getPosts(1)"></b-button>
            </client-only>
            
            <b-button
                class="pagination__number-btn"
                v-for="page in pages"
                :key="page"
                @click="getPosts(page)"
            >   
                {{ page }}
            </b-button>

            <client-only>
                <b-button class="pagination__end" v-if="ifNotLast" v-html="'>>'" @click="getPosts(lastPage)"></b-button>
            </client-only>
        </b-button-group>
    </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
    computed: {
        ...mapState('posts', ['pages', 'page']),

        ifNotFirst () {
            return this.page > 1
        },

        ifNotLast () {
            return this.page < this.pages.length
        },

        lastPage () {
            return this.pages.length
        }
    },

    methods: {
        getPosts (page) {
            this.$emit('getPosts', page)
        }
    }
}
</script>

<style scoped>
.pagination {
    margin-bottom: 20px;
}

.pagination__buttons {
    margin: 0 auto;
}
</style>
