<template>
    <b-list-group class="posts">
        <b-list-group-item
            class="posts__display"
            v-for="post in posts"
            :key="post.id"
        >
            <nuxt-link class="posts__post post" :to="{name: 'posts-id', params: {post, id: post.id}}">                    
                
                <h1 class="post__title">
                    <p class="post__title-text">{{ postTitle(post.title) }}</p>
                </h1>                    

                <p class="post__content">{{ postContent(post.body) }}</p>
            </nuxt-link>
        </b-list-group-item>
    </b-list-group>
</template>

<script>
import { mapState } from 'vuex'

export default {
    methods: {
        postTitle (title) {
            return title.toUpperCase()
        },

        postContent (content) {
            return content.charAt(0).toUpperCase() + content.slice(1)
        }
    },

    computed: {
        ...mapState ('posts', ['posts'])
    }
}
</script>

<style scoped>
.posts__post {
    text-decoration: none;
    color: black;
}

.post__title {
    width: 100%;
    display: flex;
    background-color: beige;
    padding: 5px;
    font-size: 20px;
}

.post__title-text {
    width: 640px;
    height: 26px;
    overflow: hidden;
    margin: 0;
}

.post__content {
    height: 50px;
    margin-bottom: 0;
    padding: 0 10px;
    overflow: hidden;
}

.list-group-item {
    margin: 3px 0;
}

.list-group-item:hover {
    background-color: whitesmoke;
}
</style>
