<template>
    <b-navbar class="navbar">
        <nuxt-link
            class="navbar__left home"
            :to="{path: '/'}"
        >
            <b-button class="home__button">Home</b-button>
        </nuxt-link>

        <b-navbar-nav class="navbar__right--auth user ml-auto" v-if="isAuthenticated">            
            <b-dropdown class="user__droplist m-2" id="dropdown-offset" offset="25" :text="username">                    
                <b-dropdown-item class="user__profile" :to="{name: 'userProfile'}">User Profile</b-dropdown-item>

                <b-dropdown-item class="user__logout" @click="logout">Logout</b-dropdown-item>
            </b-dropdown>
        </b-navbar-nav>

        <b-navbar-nav class="navbar__right--not-auth ml-auto" v-else>
            <nuxt-link
                class="navbar__login login"
                :to="{name: 'auth-login'}"
            >
                <b-button class="login__button">Login</b-button>
            </nuxt-link>

            <nuxt-link
                class="navbar__register register"
                :to="{name: 'auth-register'}"
            >
                <b-button class="register__button">Register</b-button>
            </nuxt-link>
        </b-navbar-nav>
    </b-navbar>
</template>

<script>
import { mapState } from 'vuex'

export default {
    computed: {
        ...mapState ('users', ['user', 'isAuthenticated']),

        username () {
            return this.user.username
        }
    },

    methods: {
        logout () {
            this.$router.push('/')
            this.$store.dispatch('users/logout')
        }
    }
}
</script>

<style scoped>
.navbar {
    width: 800px;
    margin: 0 auto;
}

.navbar__login {
    margin-right: 20px;
}
</style>
