<template>
    <div class="login">
        <h1 class="login__title">LOGIN</h1>

        <login-form
            class="login__form"
            @login="login"
        />
    </div>
</template>

<script>
import LoginForm from '@/components/forms/LoginForm'
import { mapState } from 'vuex'

export default {
    components: {
        loginForm: LoginForm
    },

    fetch ({store}) {
        store.dispatch('users/getUsers')
    },

    methods: {
        login (form) {
            this.$store.dispatch('users/login', form)
            .then(() => {
                if (this.isAuthenticated) {
                    this.$router.push('/')
                }
            })
        }
    },

    computed: {
        ...mapState ('users', ['isAuthenticated'])
    }
}
</script>

<style scoped>
.login {
    width: 400px;
    margin: 50px auto;
}
</style>
