<template>
    <div class="register">
        <h1 class="register__title">REGISTER</h1>

        <user-form
            class="register__form"
            @onSubmit="onRegister"
        />
    </div>
</template>

<script>
import UserForm from '@/components/forms/UserForm'

export default {
    components: {
        userForm: UserForm
    },

    methods: {
        async onRegister (user) {

            let response = await this.$usersRepository.create(user)

            console.log(response)
        }
    }
}
</script>

<style scoped>
.register {
    width: 400px;
    margin: 50px auto;
}
</style>
