<template>
    <div class="post">
        <post-form
            class="post__form"
            v-if="edit"
            :article="post"
            @onSubmit="onSubmit"
        />
        
        <article class="post__display" v-else>
            <h1 class="post__title">{{ postTitle }}</h1>

            <p class="post__content">{{ postText }}</p>

            <div class="post__buttons" v-if="editAvailable">
                <edit-button
                    class="post__button--edit"
                    @onEdit="onEdit"
                />

                <delete-button
                    class="post__button--delete"
                    @onDelete="onDelete"
                />
            </div>
        </article>

        <post-comments
            class="post__comments"
            :postId="post.id"
        />
    </div>
</template>

<script>
import PostForm from '@/components/forms/ArticleForm'
import PostComments from '@/components/CommentsComponent'
import DeleteButton from '@/components/buttons/ButtonDelete'
import EditButton from '@/components/buttons/ButtonEdit'
import { mapState } from 'vuex'

export default {
    components: {
        postForm: PostForm,
        postComments: PostComments,
        deleteButton: DeleteButton,
        editButton: EditButton
    },

    async fetch ({store, route}) {
        let postId = route.params.id

        await store.dispatch('posts/getPost', postId)
        await store.dispatch('comments/getComments', postId)
    },

    data () {
        return {
            edit: false
        }
    },

    computed: {
        ...mapState ('users', ['user', 'isAuthenticated']),

        ...mapState ('posts', ['post']),

        postTitle () {
            return this.post.title.toUpperCase()
        },

        postText () {
            return this.post.body.charAt(1).toUpperCase() + this.post.body.slice(1)
        },

        editAvailable () {
            return this.isAuthenticated && this.user.id === this.post.userId
        }
    },

    methods: {
        onEdit () {
            this.edit = true
        },

        async onDelete () {
            this.$router.push('/')

            let response = await this.$postRepository.delete(this.post.id)            

            console.log(response)
        },

        async onSubmit (editedPost) {
            this.edit = false

            // let response = await this.$axios.put(`posts/${post.id}`, editedPost)
            let response = await this.$postRepository.update(editedPost)
            
            console.log(response)
        }
    }
} 
</script>

<style scoped>
.post {
    width: 800px;
    margin: 0 auto;
}

.post__display {
    margin-bottom: 30px;
    border: solid grey 1px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.post__title {
    background-color: antiquewhite;
    font-size: 20px;
    padding: 10px;
}

.post__content {
    margin-top: 20px;
    padding: 10px 20px;
}

.post__buttons {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    margin-right: 20px;
}

.post__buttons > * {
    margin-left: 10px;
}
</style>
