<template>
    <div class="posts container">
        <posts-component
            class="posts__post"
        />

        <pagination-component
            class="posts__pagination"
            @getPosts="getPosts"        
        />

        <post-form
            class="posts__post-form"
            v-if="isAuthenticated"
            @onSubmit="onSubmit"
        />
    </div>
</template>

<script>
import PostsComponent from '@/components/PostsComponent'
import PaginationComponent from '@/components/PaginationComponent'
import PostForm from '@/components/forms/ArticleForm'
import { mapState } from 'vuex'

export default {
    name: 'Posts',
    
    components: {
        postsComponent: PostsComponent,
        paginationComponent: PaginationComponent,
        postForm: PostForm
    },

    async fetch ({store}) {
        await store.dispatch('posts/getPosts', null)
    },

    methods: {
        getPosts (page) {
            this.$store.dispatch('posts/getPosts', page)
        },

        async onSubmit (newPost) {
            let post = {
                title: newPost.title,
                body: newPost.body,
                userId: this.user.id
            }

            let createdPost = await this.$postRepository.create(post)

            console.log(createdPost)
        }
    },

    computed: {
        ...mapState ('users', ['user', 'isAuthenticated'])
    }
}
</script>

<style scoped>
.posts {
    width: 800px;
    min-height: 100vh;
    padding-bottom: 20px;
}

.container {
    padding: 0;
}
</style>
