<template>
    <div class="user-profile">
        <h1 class="user-profile__name">{{ user.name }}'s Profile</h1>

        <user-form
            class="user-profile__user-form"
            :user="user"
            @onSubmit="onChange"
        />
    </div>
</template>

<script>
import { mapState } from 'vuex'
import UserForm from '@/components/forms/UserForm'

export default {
    name: 'userProfile',

    components: {
        userForm: UserForm
    },

    middleware: 'authenticated',

    computed: {
        ...mapState ('users', ['user'])
    },

    methods: {
        async onChange (user) {
            let response = await this.$usersRepository.update(user)

            console.log(response)
        }
    }
}
</script>

<style scoped>
.user-profile {
    width: 400px;
    margin: 50px auto;
}
</style>
