<template>
    <b-form class="article-form" @submit.prevent="onSubmit" @reset.prevent="onReset">
        <b-form-group class="article-form__content">
            <b-form-input
                class="article-form__title"
                v-model="title"
                placeholder="Enter Title"
            />

            <b-form-textarea
                class="article-form__text"
                id="textarea-rows"
                placeholder="Enter text"
                rows="4"
                v-model="text"
            />
        </b-form-group>

        <b-form-group class="article-form__buttons">
            <b-button class="article-form__button--submit" type="submit" variant="primary">Submit</b-button>

            <b-button class="article-form__button--reset" type="reset" variant="danger">Reset</b-button>
        </b-form-group>
    </b-form>
</template>

<script>
export default {
    props: {
        article: {
            type: Object,
            default: () => ({})
        }
    },

    data () {
        return {
            title: this.article ? this.article.title : '',
            text: this.article ? this.article.body : ''
        }
    },

    methods: {
        onSubmit () {
            let article = { ...this.article, body: this.text, title: this.title }

            this.$emit('onSubmit', article)

            this.title = ''
            this.text = ''
        },

        onReset () {
            if (this.article) {
                this.title = this.article.title
                this.text = this.article.body
            } else {
                this.title = ''
                this.text = ''
            }
        }
    }
} 
</script>

<style scoped>
.article-form {
    margin-bottom: 20px;
}

.article-form__content {
    margin-top: 10px;
    margin-bottom: 30px;
    border: solid grey 1px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.article-form__title {
    background-color: antiquewhite;
    font-size: 20px;
    padding: 10px;
}

.article-form__text {
    margin-top: 20px;
    padding: 10px 20px;
}

.article-form__buttons {
    margin: 0;
    text-align: right;
}

.article-form__buttons > * {
    margin-right: 5px;
}
</style>
