<template>
    <b-form
        class="login-form"
        @submit.prevent="login"
    >
        <b-form-input
            class="login-form__username"
            required
            type="text"
            v-model="form.username"
            placeholder="Enter username"
        />

        <b-form-input
            class="login-form__password"
            required
            type="password"
            v-model="form.password"
            placeholder="Enter password"
        />

        <b-button
            class="login-form__button"
            type="submit"
            variant="primary"
        >
            Login
        </b-button>
    </b-form>
</template>

<script>
export default {
    data () {
        return {
            form: {
                username: '',
                password: ''
            }
        }
    },

    methods: {
        login () {
            this.$emit('login', this.form)
        }
    }
}
</script>

<style scoped>
.form-control {
    margin-bottom: 10px;
}
</style>
