<template>
    <b-form
        class="user-form"
        @submit.prevent="submit"
    >
        <b-form-input
            class="user-form__firstname"
            required
            type="text"
            v-model="firstname"
            placeholder="Enter name"
        />

        <b-form-input
            class="user-form__lastname"
            required
            type="text"
            v-model="lastname"
            placeholder="Enter lastname"
        />

        <b-form-input
            class="user-form__email"
            required
            type="email"
            v-model="email"
            placeholder="Enter email"
        />

        <b-form-input
            class="user-form__username"
            required
            type="text"
            v-model="username"
            placeholder="Enter username"
        />

        <b-form-input
            class="user-form__password"
            required
            type="password"
            v-model="password"
            placeholder="Enter password"
        />

        <b-button 
            class="user-form__button--submit"
            type="submit"
            variant="primary"
        >
            {{ buttonName }}
        </b-button>
    </b-form>
</template>

<script>
import { mapState } from 'vuex'

export default {
    props: {
        user: {
            type: Object,
            default: () => ({})
        }
    },

    data () {
        return {
            firstname: this.user.name ? this.userSplitName(0) : '',
            lastname: this.user.name ? this.userSplitName(1) : '',
            email: this.user.email ? this.user.email : '',
            username: this.user.username ? this.user.username : '',
            password: 'password'
        }
    },

    computed: {
        ...mapState ('users', ['isAuthenticated']),

        buttonName () {
            return this.isAuthenticated ? 'Change' : 'Register'
        }
    },

    methods: {
        userSplitName (i) {
            let word = this.user.name.split(' ')

            return word[i]
        },

        submit () {
            let fullName = this.firstname + ' ' + this.lastname
            let user = {
                ...this.user,
                name: fullName,
                email: this.email,
                username: this.username,
                password: this.password
            }

            this.$emit('onSubmit', user)
        }
    }
}
</script>

<style scoped>
.form-control {
    margin-bottom: 10px;
}
</style>
